header {
  //   background-color: $main-bgc;
  border-bottom: 1px solid #ddd;
  .wrap {
    width: 1200px;
    // background-color: $gray-9;
    .logo {
      a {
        img {
          display: block;
        }
      }
    }
    nav {
      ul {
        li {
          a {
            color: #2f2e2e;
            &:hover {
              color: #6b6a6a;
            }
          }
        }
      }
    }
  }
}
